@-ms-viewport { 
    width: 100vw; 
    zoom: 100%; 
}  

@viewport { 
    width: 100vw; 
    zoom: 100%; 
}

@-ms-viewport { 
    user-zoom: fixed; 
}

@viewport { 
    user-zoom: fixed; 
}

#main-banner {
    height: 2em;
    background: #222222;
    color: #FFFFFF;
}

#banner-text {
    vertical-align: middle;
    padding-top: .5em;
    padding-left: .5em;
}

#main-content {
    height:100vh;
}

#loader {
    display: none;
    height:100vh;
}

#login-form {
    margin-top: 40%;
    padding: 1em;
}

.login-button {
    margin-left: 10%;
}

.login-button:not(:first-of-type) {
    margin-left: 14%;
}