@-ms-viewport { 
    width: 100vw; 
    zoom: 100%; 
}  

@viewport { 
    width: 100vw; 
    zoom: 100%; 
}

@-ms-viewport { 
    user-zoom: fixed; 
}

@viewport { 
    user-zoom: fixed; 
}

#main-banner {
    height: 2em;
    background: #222222;
    color: #FFFFFF;
}

#banner-text {
    vertical-align: middle;
    padding-top: .5em;
    padding-left: .5em;
}

#main-content {
    height: 90vh;
    margin-top: 2vh;
}

#loader {
    display: none;
    height: 90vh;
    margin-top: 2vh;
}

#login-form {
    padding-top: 50%;
}

.login-button a {
    padding: 0 1em;
    margin: auto;
    display: block;
}

.login-button:not(:first-of-type) {
    margin-top: 1em;
}