<div class="center">
    <label for="Username">Username:</label>
    <input type="text" name="Username" id="login-username">
    <br>
    
    <label for="Password">Password:</label>
    <input type="password" name="Password" id="login-password">
    <br>
    
    <input type="submit" value="Submit" id="login-submit">
</div>