<div class="center">
    <p>WELCOME HOME!</p>
</div>
<hr>
<div id="post-container">
    <div id="new-post-container">
    </div>
    <!-- Will be populated with posts -->
    <div id="loaded-posts">
    </div>
</div>
<div id="hidden-data"></div>