<div class="center">
    <h1>AISES Conference - 2016</h1>
</div>
<hr>
<div id="post-container">
    <div id="new-post-container">
        <textarea id="new-post-text" class="text" cols="80" rows ="4" name="confirmationText"></textarea>
        <div id="post-button-container">
            <div id="post-button-group">
                <button type="button" id="new-post-button">Add New Post</button>
                <button type="button" id="add-image-post">Add Image</button>
            </div>
        </div>
    </div>
    <hr>
    <div id="new-posts-available">
        <button type="button" id="load-all-posts">Load New Posts</button>
    </div>
    <div id="loaded-posts"></div>
</div>