<div id="login-form" class="center">
    <div>
        <input type="submit" value="Login with Facebook" id="login-submit">
    </div>
    <div>
        <input type="submit" value="Create Account" id="login-create">
    </div>
</div>