<div id="login-form">
    <div class="login-group">
        <label for="Username">Username:</label>
        <input type="text" name="Username" id="login-username">
    </div>
    <div class="login-group">
        <label for="Password">Password:</label>
        <input type="password" name="Password" id="login-password">
    </div>
    <div id="login-controls">
        <input type="submit" value="Login" id="login-submit">
        <input type="submit" value="Create Account" id="login-create">
    </div>
</div>